NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:4200
SEED_ON_START=true

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=restaurant

JWT_SECRET=replace-with-a-long-random-secret
